body {
    margin-left: 20px;
    margin-right: 20px;
}

header {
    position: sticky;
    top: 0;
    height: 24px;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

header a img {
    vertical-align: top;
}

div#auto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cursor {
    margin: 1%;
}

.cursor .progress {
    width: 100%;
    background-color: #ddd;
}

.cursor .progress .bar {
    height: 30px;
    background-color: #4CAF50;
    padding: 5px;
    font-size: 1.5em;
}